<div class="d-flex">
    <div class="sidebar d-flex flex-column p-5"
        style="height: 90vh;width: 250px; background-color: rgb(199, 205, 128);">
        <a routerLink="/dashboard"
            style="text-decoration: none; color: white; margin-top: 20px; font-weight: 700;">Dashboard</a>
        <a routerLink="/students"
            style="text-decoration: none; color: white; margin-top: 20px; font-weight: 700;">Student List</a>
    </div>
    <div class="p-5 w-100">
        <div class="d-flex justify-content-between">
            <h2 style="color: rgb(93, 226, 222);">Student List</h2>
            <a routerLink="/student/add" style="text-decoration: none;" class="btn btn-outline-secondary pt-2">
                <i class="fa-solid fa-user-plus me-2"></i>ADD USER
            </a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column mt-5">
            <div class="d-flex justify-content-between w-100">
                <div class="d-flex w-75">
                    <input type="text" class="form-control" placeholder="search Username"
                    name="searchKey"
                    [(ngModel)]="searchKey">
                    <div class="dropdown w-100 ms-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sort
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="sortById()">By Id</a></li>
                            <li><a class="dropdown-item" (click)="sortByname()">By Name</a></li>
                            
                        </ul>
                    </div>
                </div>
                <button class="btn btn-success" (click)="generatePdf()">EXPORT</button>
            </div>
            <table class="table table-bordered border-primary shadow mt-5 rounded">
                <thead>
                    <tr class="p-3 table-active">
                        <th class="py-4 text-center">Student ID</th>
                        <th class="py-4 text-center">User Name</th>
                        <th class="py-4 text-center">Email</th>
                        <th class="py-4 text-center">Status</th>
                        <th class="py-4 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let student of allStudents | search:searchKey | paginate:{itemsPerPage:5, currentPage:p}" [hidden] ="student.id == 1">
                        <td class="text-center">{{student.id}}</td>
                        <td class="text-center">{{student.name | uppercase}}</td>
                        <td class="text-center">{{student.email}}</td>
                        <td class="text-center"><span [ngClass]="student.status =='1'?'btn btn-success':'btn btn-danger'">{{student.status =='1'?'Active':'Inactive'}}</span></td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" routerLink="/student/edit/{{student.id}}"> <i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="btn btn-outline-danger ms-3" (click)="deleteStudent(student.id)"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>