<div class="d-flex">
    <div class="sidebar d-flex flex-column p-5"
        style="height: 90vh;width: 250px; background-color: rgb(199, 205, 128);">
        <a routerLink="/dashboard" style="text-decoration: none; color: white; margin-top: 20px; font-weight: 700;">Dashboard</a>
        <a routerLink = "/students" style="text-decoration: none; color: white; margin-top: 20px; font-weight: 700;">Student List</a>
    </div>
    <div class="dashboard p-5">
        <h2 style="color: rgb(93, 226, 222);">Wlecome Admin</h2>
    </div>
</div>